@media (max-width: 1700px) {
  .header {
    background: url(../img/main_bg.jpg) 85% 0% / cover no-repeat;
    &__wrapper {
      margin-bottom: 70px;
    }
    &__social-wrapper {
      transform: rotate(0);
      position: inherit;
    }
  }
}

@media (max-width: 1440px) {
  .about {
    &__wrapper {
      gap: 60px;
    }
  }
  .experience {
    &__wrapper {
      grid-template-columns: repeat(2, auto);
    }
  }
}

@media (max-width: 1250px) {
  .skills {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 270px);
      justify-content: center;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit, 350px);
      justify-content: center;
      grid-auto-rows: minmax(70px, auto);
      column-gap: 40px;
    }
  }
  .portfolio {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 280px);
      justify-content: center;
      .vertical,
      .horizontal {
        grid-row: unset;
        grid-column: unset;
      }
    }
  }
  .contacts {
    &__wrapper {
      grid-template-columns: 300px 400px;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 195px);
    }
    .btn {
      padding: 8px 25px;
      line-height: 16px;
    }
  }
}

@media (max-width: 1042px) {
  .header {
    background: url(../img/main_bg.jpg) 70% 0% / cover no-repeat;
  }
  .about {
    &__wrapper {
      gap: 30px;
    }
    &__photo {
      img {
        width: 342px;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .experience {
    &__wrapper {
      row-gap: 40px;
      grid-template-columns: 425px;
    }
  }
  .price {
    &__wrapper {
      column-gap: 50px;
      grid-template-columns: repeat(auto-fit, 302px);
      justify-content: center;
    }
  }
}

@media (max-width: 880px) {
  .header {
    background: url(../img/main_bg.jpg) 70% 0% / cover no-repeat;
    .title_fs48 {
      font-size: 40px;
    }
  }
  .about {
    &__wrapper {
      gap: 55px;
    }
  }
  .skills {
    &__ratings {
      column-gap: 40px;
      justify-content: center;
    }
  }
  .contacts {
    &__photo {
      display: none;
    }
    &__wrapper {
      grid-template-columns: 1fr;
    }
    &__form {
      grid-template: 45px 190px 45px / repeat(2, 250px);
    }
  }
}

@media (max-width: 768px) {
  .about {
    &__wrapper {
      flex-wrap: wrap;
    }
    &__items {
      margin: 0 10px 20px 0;
    }
    &__text {
      max-width: 572px;
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 366px);
    }
  }
}

@media (max-width: 576px) {
  .header {
    background: url(../img/main_bg.jpg) 70% 0% / cover no-repeat;
    height: 640px;
    &__social-wrapper {
      display: none;
    }
    .title_fs48 {
      font-size: 26px;
    }
  }
  .menu {
    &__wrapper {
      padding: 140px 20px;
      width: 250px;
      a {
        font-size: 19px;
      }
    }
    &__close {
      left: 200px;
      top: 16px;
    }
    &__social {
      width: 250px;
    }
  }
  .burger {
    right: 15px;
  }
  .about,
  .experience,
  .skills,
  .portfolio,
  .price,
  .contacts {
    padding-top: 40px;
    .title_fs36 {
      font-size: 26px;
    }
    &__photo {
      img {
        margin: 0 auto;
        display: block;
        width: 100%;
      }
    }
  }
  .experience {
    &__wrapper {
      padding: 0;
      grid-template-columns: repeat(1, 300px);
    }
    &__item {
      &::before {
        top: 30%;
      }
    }
  }
  .skills {
    &__divider {
      margin-bottom: 20px;
    }
    &__wrapper {
      margin-bottom: 40px;
    }
    &__ratings {
      grid-template-columns: repeat(auto-fit, 300px);
      &-line {
        width: 300px;
      }
    }
  }
  .price {
    &__wrapper {
      grid-template-columns: repeat(auto-fit, 255px);
    }
    &__divider {
      margin-bottom: 20px;
    }
  }
  .contacts {
    &__form {
      grid-template: 45px 45px 190px minmax(45px, auto) / 1fr;
    }
    &__textarea {
      grid-column: unset;
      width: 100%;
    }
    &__triggers {
      grid-column: unset;
      grid-template-columns: 1fr;
      column-gap: unset;
      row-gap: 20px;
    }
    &__btn {
      order: 2;
      max-width: 220px;
      margin: 0 auto;
    }
    &__policy {
      width: 180px;
      margin: 0 auto;
      line-height: 18px;
    }
  }
}

@media (max-width: 320px) {
  .header {
    background: url(../img/main_bg.jpg) 68% 0% / cover no-repeat;
  }
  .contacts {
    &__wrapper {
      padding: 0;
    }
  }
}
