.about {
  padding-top: 120px;
  &__wrapper {
    display: flex;
    gap: 123px;
  }
  &__photo {
    width: 100%;
    img {
      width: 342px;
    }
  }
  &__descr {
    padding-top: 7px;
  }
  &__subtitle {
    position: relative;
    padding-left: 12px;
    @include before-circle;
    margin-bottom: 10px;
  }
  &__divider {
    @include divider;
    margin-bottom: 20px;
  }
  &__text {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 40px;
  }
  &__skills {
    display: flex;
    flex-wrap: wrap;
  }
  &__items {
    display: flex;
    width: 260px;
    height: 116px;
    margin: 0 50px 20px 0;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      top: 3%;
      left: 0px;
      z-index: -1;
      width: 36px;
      height: 36px;
      background: $main-color;
      border-radius: 50%;
    }
    div {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
    p {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: #000000;
    }
    &_padding {
      padding-left: 10px;
    }
  }
  &__icon {
    width: 25px;
    height: 23.45px;
    margin: 20px 20px 0 17px;
  }
}
