.menu {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    width: 345px;
    height: 800px;
    background-color: $main-color;
    padding: 140px 20px;
    transition: 0.7s all;
    &_active {
      left: 0;
    }
  }
  &__li {
    display: flex;
    align-items: center;
    gap: 20px;
    a {
      font-weight: 700;
      font-size: 24px;
      color: #ffffff;
      text-transform: uppercase;
    }
    &::before {
      content: " ";
      display: block;
      width: 15px;
      height: 15px;
      border: 1px solid #000000;
      border-radius: 50%;
    }
  }
}

.burger {
  display: block;
  position: absolute;
  right: 30px;
  top: 30px;
  transform: translateY(-50%);
  width: 36px;
  height: 21px;
  span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
    margin-bottom: 6px;
    transition: 0.5s all;
  }
  &_active {
    span {
      margin-bottom: -2px;
      &:nth-child(1) {
        transform: translateY(3px) rotate(-45deg);
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: translateY(3px) rotate(45deg);
      }
    }
  }
}
