.header {
  position: relative;
  min-height: 100vh;
  padding: 206px 0 364px 0;
  background: url(../img/main_bg.jpg) no-repeat 50% / cover;
  margin-bottom: 118px;
  .subtitle {
    margin-bottom: 10px;
    padding-left: 10px;
    position: relative;
    z-index: 1;
    @include before-circle;
  }
  .title {
    margin-bottom: 25px;
  }
  &__button {
    margin-right: 44px;
  }
  &__link {
    font-weight: 700;
    font-size: 14px;
    color: #000000;
    &:hover {
      color: #000000;
    }
  }
  &__social-wrapper {
    position: absolute;
    left: 50px;
    top: 50%;
    transform: rotate(-90deg);
    display: flex;
    gap: 15px;
    align-items: center;
    span {
      font-weight: 700;
      font-size: 16px;
      color: #000000;
    }
  }
  &__items-wrapper {
    display: flex;
    gap: 15px;
  }
  &__item {
    transform: rotate(90deg);
  }
  hr {
    width: 70px;
    height: 0px;
    border: 2px solid #000000;
  }
}
