.skills {
  padding-top: 120px;
  &__subtitle {
    @include subtitle_circle;
  }
  &__divider {
    @include divider_center;
  }
  &__wrapper {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    grid-template-rows: minmax(270px, auto);
    grid-auto-rows: minmax(245px, auto);
    gap: 13px;
    margin-bottom: 120px;
  }
  &__card {
    border: 1px solid black;
    padding: 30px 30px 25px 30px;
    &-icon {
      margin-bottom: 20px;
    }
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 15px;
    }
    &-descr {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
  &__ratings {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 70px);
    justify-content: space-between;
    row-gap: 33px;
    &-subtitle {
      position: relative;
      padding-left: 15px;
      @include before-circle;
      &:before {
        top: -33%;
      }
    }
    &-item {
      display: grid;
      grid-template-columns: 200px 35px;
      justify-content: space-between;
      align-content: space-between;
    }
    &-line {
      width: 350px;
      height: 14px;
      background: #e8e4de;
      border-radius: 4px;
      span {
        display: block;
        height: 100%;
        background-color: $main-color;
        border-radius: 4px;
      }
    }
  }
}
