.skills {
  padding-top: 120px;
  &__subtitle {
    @include subtitle_circle;
  }
  &__divider {
    @include divider_center;
  }
  &__wrapper {
    padding: 0 10px;
    display: grid;
    grid-template-columns: repeat(4, 270px);
    // grid-template-rows: repeat(2, 270px);
    grid-template-rows: minmax(270px, auto);
    grid-auto-rows: minmax(245px, auto);
    gap: 13px;
    margin-bottom: 120px;
  }
  &__card {
    border: 1px solid black;
    padding: 30px 30px 25px 30px;
    &-icon {
      margin-bottom: 20px;
    }
    &-title {
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 15px;
    }
    &-descr {
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
